.container {
  color: var(--text);
  background: var(--bg);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #444;
}

.left button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.searchIcon {
  border: none;
  background: transparent;
  font-size: 1.25rem;
}

.right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.username {
  font-weight: 500;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 3rem;
  border-bottom: 1px solid #666;
  padding-bottom: 0.5rem;
}

.tab {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.tab:hover,
.tab.active {
  opacity: 1;
}

.content {
  padding: 2rem;
}
