@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400&display=swap');
@import "tailwindcss";

:root {
  --background: #FAF5EE;
  --foreground: #9E7946;
  --font-spectral: 'Spectral', serif;
}

body.dark {
  --background: #151413;
  --foreground: #A49D96;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-spectral), serif;
  transition: background-color 0.3s, color 0.3s;
}
